@model MusicStoreOrnek.Models.Album

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<h2>Album: @Model.Title</h2>
<h2>Fiyat: @Model.Price</h2> 
<img src="@Model.AlbumArtUrl" style="width:200px;height:200px" />

@*<img src="~/images/kapak.png" />
*@@*hem fiyat hem de foto*@

@*album oluşturma ekranı*@
@*  Album Adı 
    Tur Adı 
    Artist Adı 
    Fiyatı
    Kapak Gorseli
    Aktif olma durumu
*@

@*--temel programlama (algoritma - c# programlama dili )
--masaustu uygulamaları
--sql : veri  tarafı
--veriye erişim teknolojileri
--web: önyüz - arkayüz
--önyüz  : html-css-js
--arkayüz: backend dili (c#,java-php-python,javascript)*@






